/*
 * Dit is de custom style sheet van jouw website
 *
 */

body {
	background:url("../image/orange.png") no-repeat center center fixed;
}

.desc {

	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;
		
}


/*img{*/
	/*width: 300px;*/
/*}*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	margin-left: -10px;
	width: 101.45%;
}

li {
	float:left;
	display: inline;
	list-style-type: none;
}

.nav {
	display: block;
	padding: 10px;
	background-color: black;
}

li .nav {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li .nav:hover {
	background-color: orange;
}

.mad{
	width: 80px;
	transition: all .2s ease-in-out;
}
.mad:hover{
	transform: scale(1.1);
}
.twitterbird{
	text-decoration: none;
}
.niks{
	float: left;
}

#ban{
	margin: -10px;
}

.frame{
	margin:10px;
}

.frame h3{
	margin-top: -4px;
	margin-bottom: -2px;
}

.container{
	margin:40px;
	background-color: white;
	width: 548px;
	height: 59px;
}

.datum{
	background-color: orange;
	width: 68px;
	height: 59px;
}

.datum_time{
	font-size: 17px;
	display: block;
	text-align: center;
	font-family:"Arial";
	font-style: normal;
	word-spacing: 50px;

}

.info{
	margin-top: -75px;
	margin-left:68px;
	width: 179px;
	height: 59px;
	background:bisque;
}

.info_time{
	margin-top: -15px;
}

.live{
	margin-top: -71px;
	margin-left: 179px;
	width: 301px;
	height: 59px;
	background: pink;
}

.live_text{
	margin-top: 10px;
}

.button{
	float: right;
	margin-top: -62px;
	cursor: pointer;
	width: 96px;
	height: 27px;
	background: inherit;
	background-color: rgba(22, 155, 213, 1);
	border-radius: 5px;
	display: block;
	color: white;
	box-shadow: white;
}